body{
            background-color:aqua;
            font-family:sans;
            text-align:center;
        }
        h1{
         color:orange;   
        }
        h2{
         color:blue;   
        }
        h3{
         color:green;   
        }
